.badge-defindclass{
    margin-top: -31px;
    font-size: 16px;
}
.badge-danger{background-color: #d43f3a;}
.badge-warning{background-color: #f0ad4e;}
.badge-success{background-color: #5cb85c;}
.listTask{word-wrap: break-word;width: 230px;}