.paddingClass{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.customBorder{
    border-radius: 35px;
}
.statusAlert{
    height: 40px;
    font-size: 20px;
}